<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="url" value="https://acme-test.uipath.com/account/login"></parameter>
<parameter name="username" value="kumar.testleaf@gmail.com"></parameter>
<parameter name="password" value="leaf@12"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcases.ACMESystem"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
